[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
dtw-python = "*"
gtts = "*"
dtaidistance = "*"
pandas = "*"
fastdtw = "*"
numpy = "*"
pydub = "*"
ffmpeg-python = "*"
speechrecognition = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
